{% extends 'layout.html' %}
{% block body %}
<div>
  <nav>
    <div class="logo">
      <h4>Admin</h4>
    </div>
  </nav>
  <section>
    <div class="wrapper">
      <div class="card1">
        <p>Total Students</p>
        <h3>23</h3>
      </div>
      <div class="card2">
        <p>Total Faculties</p>
        <h3>23</h3>
      </div>
      <div class="card3">
        <p>Total Baches</p>
        <h3>23</h3>
      </div>
      <div class="card4">
        <p>Total Students</p>
        <h3>23</h3>
      </div>
    </div>
  </section>

  <div class="section2">
    <div class="events">
      <div class="events_nav">
        <h4>Coming Events</h4>

        <ul>
          <li>Sargam 2021</li>
          <li>Astra 2021</li>
          <li>Onam 2021</li>
          <li>Exam 2021</li>
        </ul>
      </div>
    </div>

    <div class="time_table">
      <h1 style="background-color: rgb(64, 42, 160); color: white">
        Time Table
      </h1>

      <script type="text/javascript">
        $(document).ready(function ($) {
          //ajax row data
          var ajax_data = [
            {
              time: "8.30-9.30",
              sub1: "ML",
              sub2: "BD",
              sub3: "BIA",
              sub4: "ML",
              sub5: "BD",
            },
            {
              time: "9.30-10.20",
              sub1: "BIA",
              sub2: "MC",
              sub3: "ML",
              sub4: "BD",
              sub5: "ADM",
            },
            {
              time: "10.30-11.30",
              sub1: "ADM",
              sub2: "ADM",
              sub3: "MC",
              sub4: "ADM",
              sub5: "MC",
            },
            {
              time: "11.30-12.30",
              sub1: "MC",
              sub2: "ML",
              sub3: "BD",
              sub4: "BIA",
              sub5: "BIA",
            },
            {
              time: "1.30-3.30",
              sub1: "ADM_LAB",
              sub2: "MC_LAB",
              sub3: "Placement",
              sub4: "ADM_LAB",
              sub5: "MC_LAB",
            },
          ];

          var random_id = function () {
            var id_num = Math.random().toString(9).substr(2, 3);
            var id_str = Math.random().toString(36).substr(2);

            return id_num + id_str;
          };

          //--->create data table > start
          var tbl = "";
          tbl += '<table class="table table-hover">';

          //--->create table header > start
          tbl += "<thead>";
          tbl += "<tr>";
          tbl += "<th>Time</th>";
          tbl += "<th>Mon</th>";
          tbl += "<th>Tue</th>";
          tbl += "<th>Wed</th>";
          tbl += "<th>Thu</th>";
          tbl += "<th>Fri</th>";
          tbl += "</tr>";
          tbl += "</thead>";
          //--->create table header > end

          //--->create table body > start
          tbl += "<tbody>";

          //--->create table body rows > start
          $.each(ajax_data, function (index, val) {
            //you can replace with your database row id
            var row_id = random_id();

            //loop through ajax row data
            tbl += '<tr row_id="' + row_id + '">';
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="time">' +
              val["time"] +
              "</div></td>";
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="sub1">' +
              val["sub1"] +
              "</div></td>";
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="sub2">' +
              val["sub2"] +
              "</div></td>";
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="sub3">' +
              val["sub3"] +
              "</div></td>";
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="sub4">' +
              val["sub4"] +
              "</div></td>";
            tbl +=
              '<td ><div class="row_data" edit_type="click" col_name="sub5">' +
              val["sub5"] +
              "</div></td>";

            //--->edit options > start
            tbl += "<td>";

            tbl +=
              '<span class="btn_edit" > <a href="#" class="btn btn-link " row_id="' +
              row_id +
              '" > Edit</a> </span>';

            //only show this button if edit button is clicked
            tbl +=
              '<span class="btn_save"> <a href="#" class="btn btn-link"  row_id="' +
              row_id +
              '"> Save</a> | </span>';
            tbl +=
              '<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="' +
              row_id +
              '"> Cancel</a> | </span>';

            tbl += "</td>";
            //--->edit options > end

            tbl += "</tr>";
          });

          //--->create table body rows > end

          tbl += "</tbody>";
          //--->create table body > end

          tbl += "</table>";
          //--->create data table > end

          //out put table data
          $(document).find(".tbl_user_data").html(tbl);

          $(document).find(".btn_save").hide();
          $(document).find(".btn_cancel").hide();

          //--->make div editable > start
          $(document).on("click", ".row_data", function (event) {
            event.preventDefault();

            if ($(this).attr("edit_type") == "button") {
              return false;
            }

            //make div editable
            $(this).closest("div").attr("contenteditable", "true");
            //add bg css
            $(this).addClass("bg-warning").css("padding", "5px");

            $(this).focus();
          });
          //--->make div editable > end

          //--->save single field data > start
          $(document).on("focusout", ".row_data", function (event) {
            event.preventDefault();

            if ($(this).attr("edit_type") == "button") {
              return false;
            }

            var row_id = $(this).closest("tr").attr("row_id");

            var row_div = $(this)
              .removeClass("bg-warning") //add bg css
              .css("padding", "");

            var col_name = row_div.attr("col_name");
            var col_val = row_div.html();

            var arr = {};
            arr[col_name] = col_val;

            //use the "arr"	object for your ajax call
            $.extend(arr, { row_id: row_id });

            //out put to show
            $(".post_msg").html(
              '<pre class="bg-success">' +
                JSON.stringify(arr, null, 2) +
                "</pre>"
            );
          });
          //--->save single field data > end

          //--->button > edit > start
          $(document).on("click", ".btn_edit", function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest("tr");

            var row_id = tbl_row.attr("row_id");

            tbl_row.find(".btn_save").show();
            tbl_row.find(".btn_cancel").show();

            //hide edit button
            tbl_row.find(".btn_edit").hide();

            //make the whole row editable
            tbl_row
              .find(".row_data")
              .attr("contenteditable", "true")
              .attr("edit_type", "button")
              .addClass("bg-warning")
              .css("padding", "3px");

            //--->add the original entry > start
            tbl_row.find(".row_data").each(function (index, val) {
              //this will help in case user decided to click on cancel button
              $(this).attr("original_entry", $(this).html());
            });
            //--->add the original entry > end
          });
          //--->button > edit > end

          //--->button > cancel > start
          $(document).on("click", ".btn_cancel", function (event) {
            event.preventDefault();

            var tbl_row = $(this).closest("tr");

            var row_id = tbl_row.attr("row_id");

            //hide save and cacel buttons
            tbl_row.find(".btn_save").hide();
            tbl_row.find(".btn_cancel").hide();

            //show edit button
            tbl_row.find(".btn_edit").show();

            //make the whole row editable
            tbl_row
              .find(".row_data")
              .attr("edit_type", "click")
              .removeClass("bg-warning")
              .css("padding", "");

            tbl_row.find(".row_data").each(function (index, val) {
              $(this).html($(this).attr("original_entry"));
            });
          });
          //--->button > cancel > end

          //--->save whole row entery > start
          $(document).on("click", ".btn_save", function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest("tr");

            var row_id = tbl_row.attr("row_id");

            //hide save and cacel buttons
            tbl_row.find(".btn_save").hide();
            tbl_row.find(".btn_cancel").hide();

            //show edit button
            tbl_row.find(".btn_edit").show();

            //make the whole row editable
            tbl_row
              .find(".row_data")
              .attr("edit_type", "click")
              .removeClass("bg-warning")
              .css("padding", "");

            //--->get row data > start
            var arr = {};
            tbl_row.find(".row_data").each(function (index, val) {
              var col_name = $(this).attr("col_name");
              var col_val = $(this).html();
              arr[col_name] = col_val;
            });
            //--->get row data > end

            //use the "arr"	object for your ajax call
            $.extend(arr, { row_id: row_id });

            //out put to show
            $(".post_msg").html(
              '<pre class="bg-success">' +
                JSON.stringify(arr, null, 2) +
                "</pre>"
            );
          });
          //--->save whole row entery > end
        });
      </script>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="tbl_user_data"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}