{% extends 's_layout.html' %}
{% block body %}
  
    <div class="attendance_table_content" align="center">
      <table class="attendance_table"  >
          
          <h1 align="center">Attendence</h1>
              
          <tr>
              <th style="width: 18%;">Course No</th>
              <th style="width: 30%;">Course Name</th>
              <th>Attended class</th>
              <th>Total class</th>
              <th>Percentage %</th>
          </tr>
          <tr>
              <td>RLMCA202</td>
              <td>Application Development and Maintenance </td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
          </tr>
          <tr>
              <td>RLMCA204</td>
              <td>Big Data Technologies</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
          </tr>
          <tr>
              <td>RLMCA206</td>
              <td>Mobile Computing</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
          </tr>
          <tr>
              <td>RLMCA208</td>
              <td>Introduction to Machine Learning</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
          </tr>
          <tr>
              <td>RLMCA274</td>
              <td>Business Intelligence and its Applications</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
          </tr>
      </table>
  </div>

  <p class="attendance_note">**Note: This page shows the marks of the student for each of the subject.
      It includes 3 internal examination marks, two assignment marks and finally end semester 
      examination mark 
  </p>
  



{% endblock %}