{% extends 's_layout.html' %}
{% block body %}

<div class="timetable_content">
	<table class="timetable_table"  cellspacing="0" align="center" >
		<!--<caption>Timetable</caption>-->
		<div class="timetable_heading" align="center">
		  <h1 align="center">TIME TABLE</h1>
		</div>
		<tr >
		  <th align="center" height="50"
			width="100"><br>
			<b>Day/Period</b></br>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>I<br>9:30-10:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>II<br>10.30-11:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>III<br>11:30-12:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>12:30-1:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>IV<br>1:30-2:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>V<br>2:30-3:30</b>
		  </th>
		  <th align="center" height="50"
			width="100">
			<b>VI<br>3:30-4:30</b>
		  </th>
		</tr>
		<tr>
		  <td align="center" height="50">
			<b>Monday</b></td>
		  <td align="center" height="50">Mobile computing</td>
		  <td align="center" height="50">Business intelligence</td>
		  <td align="center" height="50">Machine learning</td>
		
		   <td rowspan="6" align="center" height="50">
			<h2>L<br>U<br>N<br>C<br>H</h2>
		  <td colspan="3" align="center"
			height="50">ANDROID-LAB</td>
		  
		</tr>
		<tr>
		  <td align="center" height="50">
			<b>Tuesday</b>
		  </td>
		  <td colspan="3" align="center"
			height="50">ADM-LAB
		  </td>
		  <td align="center" height="50">Java</td>
		  <td align="center" height="50">Mobile computing</td>
		  <td align="center" height="50">Business intelligence</td>
		  
		</tr>
		<tr>
		  <td align="center" height="50">
			<b>Wednesday</b>
		  </td>
		  <td align="center" height="50">Bigdata</td>
		  <td align="center" height="50">Business intelligence</td>
		  <td align="center" height="50">Machine learning</td>
		  <td align="center" height="50">Java</td>
		  <td colspan="3" align="center"
			height="50">ADM-LAB
		  </td>
		</tr>
		<tr>
		  <td align="center" height="50">
			<b>Thursday</b>
		  </td>
		  <td align="center" height="50">Business intelligence</td>
		  <td align="center" height="50">Java</td>
		  <td align="center" height="50">Mobile computing</td>
		  <td colspan="3" align="center"
			height="50">ANDROID-LAB
		  </td>
		  
		</tr>
		<tr>
		  <td align="center" height="50">
			<b>Friday</b>
		  </td>
		  <td colspan="3" align="center"
			height="50">ADM-LAB
		  </td>
		  <td align="center" height="50">Business intelligence</td>
		  <td align="center" height="50">java</td>
		  <td align="center" height="50">Bigdata</td>
		  
		</tr>
		
	  </table>
  </div>
 
{% endblock %}
  