<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/styles/Admin/faculties.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Sans+Pro:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script src="main.js"></script>
    <style>
      .right .tab {
        margin-left:-20px;
      }
      .right .tab .box{
        width:990px;
        background-color: #fff;
      }
      .right .tab .box .facul {
        width:300px;
        margin-left:10px;
      }
      .content .left {
        width: 210px;
      }
      .content a:hover {
  background-color: #7364ff;
  border-radius: 5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color:white;
}
.content .left li{
       font-size:15px;
     }
    </style>
  </head>
  <body>
    <div class="nav">
      <div class="nav-brand">
        <h3>ADMIN</h3>
      </div>
      <h4>Logout</h4>
    </div>

    <div class="content">
      <div class="left">
        <ul >
          <li style="padding-top:10px;"><a style=" color: rgb(255, 255, 255);text-decoration: none;" href="/admin/dashboard">DASHBOARD</a></li>
          <li style="padding-top:0px;"> <a style=" color: white;text-decoration: none;" href="/admin/students"> 👨🏻‍🎓Students</a></li>
          <li style="padding-top:0px;"><a style=" color: white;text-decoration: none;" href="/admin/faculties">👨🏼‍🏫Faculties</a></li>
          <li style="padding-top:0px;"><a style=" color: rgb(19, 226, 81);text-decoration: none;" href="/admin/enter_attendance">📅Attendance</a></li>
          <li style="padding-top:0px;"><a style=" color: rgb(255, 255, 255);text-decoration: none;"> ✅Marks</a></li>
          <li style="padding-top:0px;"><a style=" color: white;text-decoration: none;" href="/admin/events"> 🎉Events</a></li>
         
      </ul>
      </div>
      <div class="right">
        <div class="tab">
          <div class="bar">
            <h3>FACULTIES -(S4 MCA) </h3>
          </div>
          <div class="box">
             {% for f in faculty%}
            <div class="facul">
              <div class="f-img">
                <img
                  src="/../../static/styles/Admin/images/faculties/{{f.profile_img}}"
                />
              </div>
              <p>
                <strong><a style="text-decoration: none;" href="/admin/facultyProfile/{{f.id}}/{{f.faculty_id}}">{{f.faculty_name}}</a></strong> <br /><br />
               {{f.designation}} {{f.qualifications}} {{f.email}} {{f.phone}}
              </p>
            </div>
               {% endfor%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
