<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/dashboard.css') }}">
   
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="a.css" /> --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static',filename='/../../../static/styles/Admin/studentProfile.css }}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Sans+Pro:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
  
    <div>
     
      {% block body %}{% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script src="https://use.fontawesome.com/acbb0fac19.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>
  </body>
</html>